.createPost {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTop {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 760px) {
  .formTop {
    flex-direction: column;
  }

  .detailsPost {
    margin-bottom: 20px;
  }
}

.detailsPost {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.inputForm {
  max-width: 200px;
  border-radius: 20px;
  padding: 10px;
}

.label {
  margin-right: 10px;
  font-weight: bold;
}

.publishButton {
  color: white;
  font-size: larger;
  font-weight: bold;
  border-radius: 30px;
  padding: 15px 20px 15px 20px;
  cursor: pointer;
  background-color: rgb(50, 15, 177);
}

.publishButton:hover {
  background-color: rgb(35, 0, 162);
}

.wrapper-class {
  width: 80%;
  height: 70%;
}

.editor-class {
  border: 1px solid rgb(200, 200, 200);
  box-sizing: inherit;
}

.toolbar-class {
  border: 1px solid rgb(200, 200, 200);
}
